


<div class="container">
    <div class="card shadow-lg p-3">
         <div class="card-body">
             <div class="d-flex justify-content-end">
                 <button class="btn btn-sm btn-primary" 
                 data-bs-toggle="modal" data-bs-target="#userModal" >Add New User</button>
                 <hr class="bg-info" />
             </div>
 
             <div>
                 <div class="table-responsive">
                     <table class="table tble-sm table-striped table-bordred" id="userDetailsIndexTable">
                         <thead>
                             <tr>
                                 <th>S.N</th>
                                 <th> First Name </th>
                                 <th> Last name</th>
                                 <th>Action</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr *ngFor="let users of allusers">
                                 <td>{{users.Id}}</td>
                                 <td>{{users.Title}}</td>
                                 <td>{{users.Status}}</td>
                                 <th>
                                     <a class="text-info me-2"><i class="bi bi-pencil-square"></i></a>
                                     <a class="text-danger"><i class="bi bi-trash3"></i></a>
                                 </th>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
    </div>
 </div>
 

  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userModalLabel"> Add New User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6> Add Form Here</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>