
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Tygr Lab Assignemnt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-sm btn-outline-info btn-link nav-link" 
          routerLink="/all-users" 
          routerLinkActive="active" ariaCurrentWhenActive="page">All Users</button>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<main class="mt-4">
  <router-outlet>
  </router-outlet>
</main>